.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-name {
  width: auto;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-username {
  color: gray;
  width: auto;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  a {
    color: gray;
    text-decoration-line: none;
  }
  a:hover {
    text-decoration-line: underline;
  }
}

.profile-etc {
  width: 100%;
  border-top: 1.3px solid rgb(186, 186, 186);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-options {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0 10px;
}

.profile-option {
  position: relative;
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}
