.listbox-left-date__date {
  font-size: 16px;
  font-weight: bold;
}
.listbox-left-date__day {
  font-size: 14px;
}

.listbox-middle-date {
  font-size: 13px;
  font-weight: bold;
}
.listbox-middle-writer {
  color: gray !important;
  max-width: 100px;
  text-decoration-line: none;
  z-index: 10;
}
.listbox-middle-writer:hover,
.listbox-middle-writer:active {
  text-decoration-line: underline;
}
