.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-input-wrapper {
  position: relative;
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-input {
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 5px 8px;
  &::placeholder {
    font-size: 14px;
  }
}
.login-input:focus,
.login-input:valid {
  border-color: rgb(179, 179, 179);
}

.login-input:invalid + .close-btn {
  display: none;
}

.input-btn {
  position: absolute;
  right: 10px;
  padding: 0;
  background: none;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 18px;
}

.login-submit {
  border: none;
  margin-top: 20px;
  width: 210px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(209, 209, 209);
  transition-duration: 0.2s;
}

.login-submit:hover,
.login-submit:active {
  box-shadow: none;
}

.options {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: rgb(2, 2, 210);
  }
  a:hover {
    color: rgb(101, 0, 217);
  }
}
