.HomePage {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.homepage-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.footer-wrapper {
  width: 100%;
  height: 60px;
}
