.profile-edit-img__capture {
  width: 50px;
  height: 35px;
  background-color: rgb(0, 0, 227);
  border-radius: 0.3rem;
}

.profile-edit-input {
  border-bottom: 2.3px solid rgb(206, 206, 206);
  font-size: 16.5px;
  width: 280px;
  height: 40px;
}

.UpdateBtn {
  width: 120px;
  height: 42px;
  border-radius: 8px;
  background-color: deepskyblue;
  transition-duration: 0.2s;
}
