.public-modal {
  width: 250px;
  height: 135px;
  border-radius: 10px;
  padding: 0;
}

.public-modal-header {
  width: 90%;
  border-bottom: 1.3px solid rgb(226, 226, 226);
}

.public-modal-title {
  margin: 10px 0px 10px 0px !important;
}

.public-modal-cancel {
  color: gray;
  width: 25px;
  height: 25px;
  background-color: rgb(227, 240, 255);
}

.public-modal-body {
  width: 90%;
  font-size: 14px;
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
}

.public-modal-btn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(227, 240, 255);
}
