.preview-content-main {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-content-main__header {
  height: 30px;
  box-sizing: border-box;
  width: 95%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.preview-content-main__header-title {
  font-size: 16px;
  font-weight: 350;
  a {
    color: black;
    text-decoration-line: none;
  }
  a:hover {
    text-decoration-line: underline;
  }
}
.preview-content-main__detail {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.preview-content-main__detail-contents {
  word-wrap: break-word;
}

.not_seemore {
  max-height: 200px;
}
.not_seemore_contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.preview-comment-wrapper {
  width: 100%;
  flex: 1;
}

.comment-close {
  display: none;
}

.comment-write {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-write__input {
  flex: 1;
  height: 40px;
  font-size: 15px;
  border-radius: 6px;
  border: 1.6px solid gray;
}

.comment-write__submit {
  width: 65px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: rgb(42, 42, 254);
  /* color: white; */
  box-shadow: 2px 2px 5px rgb(113, 113, 113);
}
