.preview-content-main {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-content-main__header {
  height: 30px;
  box-sizing: border-box;
  width: max(100%, 327px);
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-content-main__header-title {
  font-size: 16px;
  font-weight: 350;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detail_btn {
  background: none;
  border: none;
  color: rgb(192, 195, 242);
  font-size: 15px;
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.preview-content-main__header-title_username {
  color: black;
  text-decoration-line: none;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.preview-content-main__header-title_username:hover {
  text-decoration-line: underline;
}

.preview-content-main__detail {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 5px 10px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.preview-content-main__detail-contents {
  word-wrap: break-word;
}

.not_seemore {
  max-height: 200px;
}
.not_seemore_contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.preview-comment-wrapper {
  width: 100%;
  padding: 0 10px;
  display: flex;
  height: auto;
  flex-direction: column;
  margin-bottom: 10px;
}

.no_comment {
  height: 150px !important;
}

.comment-close {
  display: none;
}

.comment-write {
  padding-left: 10px;
  padding-right: 3px;
  width: 100%;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  overflow: hidden;
}

.comment-write__input {
  flex: 1;
  height: 40px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
}

.comment-write__submit {
  width: 40px;
  height: 90%;
  border-radius: 20px;
  border: 2px solid rgb(235, 235, 235);
  background-color: rgb(226, 226, 226);
}
