.comment-overlay {
  height: 125%;
  backdrop-filter: blur(5px);
  z-index: 10000;
  transform: translateY(-20%);
}

.comment_select {
  z-index: 10001 !important;
}

.comment-main__info-box {
  gap: 5px;
}
.comment-main-username {
  max-width: 133px;
  font-size: 14.5px;
}
.comment-main-created_at {
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.not_seemore_comment {
  max-height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.comment-main-detail {
  padding-top: 3px;
  font-size: 15px;
}
.comment-main__reaction-history-box {
  margin: 7px 0 0 0;
  font-size: 13.5px;
  font-weight: 450;
  color: rgb(117, 117, 117);
  gap: 12px;
}

.comment-reaction {
  width: 35px;
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: center;
}

.comment-option {
  position: absolute;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.5px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: gray;
}
