.follow-overlay {
  background-color: black;
  z-index: 10000;
}

.follow-container {
  width: min(100%, 430px);
  height: 80%;
  border-radius: 10px 10px 0 0;
  z-index: 10001;
  background-color: white;
  padding: 15px 15px 5px 15px;
}

.follow-header {
  height: 30px;
}

.follow-title {
  font-size: 18px;
  font-weight: bolder;
}

.follow-close {
  width: 30px;
  height: 30px;
  font-size: 23px;
}

.follow-close:hover,
.follow-close:active {
  background-color: rgb(243, 243, 243);
}

.follow-body {
  margin-top: 3px;
  padding: 3px;
}

.follow-content {
  height: 55px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.follow-image {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-image_profile {
  width: 40px;
  height: 40px;
}

.follow-info_username {
  font-size: 18px;
}

.follow-options_btn {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(232, 232, 232);
}

.follow-option {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 1.5px solid rgb(228, 228, 228);
  box-shadow: 1.3px 1.3px 3px rgb(236, 236, 236);
  font-weight: 300;
  font-size: 11px;
  top: 50px;
  z-index: 100;
}
