.friendpage-content {
  border-radius: 10px;
}

.friendpage-content:hover,
.friendpage-content:active {
  background-color: rgb(236, 236, 236);
}

.friendpage-image {
  border: 2.5px solid;
  padding: 2px;
  width: 60px;
  height: 60px;
}

.friendpage-info {
  max-width: 295px;
  padding: 0px 25px;
}

.friendpage_username {
  font-size: 19px;
  max-width: 250px;
}
.friendpage_name {
  font-size: 16px;
  font-weight: 250;
  max-width: 250px;
}

.friendpage-option_select {
  height: 35px;
  width: 35px;
  border-radius: 7px;
  font-size: 18px;
  margin-right: 8px;
}

.friendpage-option_select:hover,
.friendpage-option_select:active {
  background-color: rgb(222, 222, 222);
}

.friend-option {
  border-radius: 8px;
  font-size: 13.5px;
  color: white;
  background-color: gray;
}
