.profile_edit-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.profile-edit-input__wrapper {
  width: 240px;
  height: 40px;
  position: relative;
}

.profile-edit-input {
  border: none;
  box-shadow: 2px 2px 3px rgb(191, 191, 191), -1px -1px 3px rgb(225, 225, 225);
  border-radius: 8px;
  width: 240px;
  height: 40px;
  padding: 10px;
}

.profile-edit-input:valid + .profile-edit-label {
  display: none;
}

.profile-edit-label {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 14px;
}
