@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.write-date {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
}

.write-button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  font-size: 15px;
  font-family: "SBAggroB";
  font-weight: 250;
}

.write-button:hover,
.write-button:active {
  background-color: rgb(230, 230, 230);
}

.ql-snow {
  width: 100%;
}

.ql-container {
  flex: 1;
  overflow-y: auto;
}
