@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.write-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-title-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.write-date {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
}

.write-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: none;
  font-size: 15px;
  font-family: "SBAggroB";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 250;
}

.write-button:hover,
.write-button:active {
  background-color: rgb(230, 230, 230);
}

.content-input {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  resize: none;
  border: none;
}
