header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1.5px 0px 4px gray;
  z-index: 100;
}

.header-title {
  font-weight: 100;
  font-size: 22px;
}

.header-button {
  border: none;
  width: 45px;
  height: 35px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 5px;
}

.header-button:hover,
.header-button:active {
  background-color: #efefef;
}
