.friendpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
}

.friendpage-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
}

.friendpage-content:hover,
.friendpage-content:active {
  background-color: rgb(236, 236, 236);
}

.friendpage-image_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendpage-image {
  border: 2.5px solid;
  padding: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.friendpage-info {
  max-width: 295px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  height: 100%;
  padding: 0px 25px;
  flex-direction: column;
}

.friendpage_username {
  font-size: 19px;
  font-weight: bold;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friendpage_name {
  font-size: 16px;
  font-weight: 250;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friendpage-option_select {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  background: none;
  font-size: 18px;
  margin-right: 8px;
}

.friendpage-option_select:hover,
.friendpage-option_select:active {
  background-color: rgb(222, 222, 222);
}

.friend-option {
  position: absolute;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.5px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: gray;
}
